*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: serif;
}
body, .time{
    display: flex;
    justify-content: center;
    align-items: center;
}
body{
    min-height: 40vh;
    background: url("https://img.hzpt.com/uploads/images/wallpaper-wall/H79b6038afc8247f7a7a4680b0aa4faeeL.png");
    background-size: cover;
}
.digital, .time{
    position: relative;
}
.digital{
    color: rgb(240, 223, 223);
    background: #2d2f38;
    width: 230px;
    
    border-radius: 10px;
}
#hours{
    border-right: 1px solid rgba(0, 0, 0, 0.301);
    font-weight: 600;
    padding: 10px 10px;
    line-height: 100px;
    font-size: 2.5rem;
    background: -moz-linear-gradient(90deg, blue,white);
    -webkit-text-fill-color:#ff004f;
}
.right-side{
    flex-direction: column;
}
#minutes{
    font-size: 1.5rem;
    font-weight: 500;
    margin-left: 10px;
}
#seconds{
    color: rgb(240, 235, 235);
    font-size: 1.5rem;
    font-weight: 500;
    margin: 10px;
}
.right-down #period{
    color: rgb(250, 245, 248);
    font-size: 1.5rem;
    font-weight: 500;
    margin-left: 10px;
}
.digital::before{
    content: '';
    position: absolute;
    background: linear-gradient(45deg, green,orange,blue);
    background-size: 200% 200%;
    top: -5px;
    left: -5px;
    bottom: -5px;
    right: -5px;
    z-index: -1px;
    filter: blur(30px);
}
#dates{
    height: 20px;
    width: 120px;
    font-size: 1rem;
    color: rgb(17, 27, 27);
    font-weight: 500;
    background: linear-gradient(45deg, green,orange,blue);
    border: none;
}